@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  @apply mb-6 text-[8rem] font-black leading-none tracking-tight;
}

input {
  @apply bg-neutral-800 leading-none placeholder-neutral-500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .pill {
    @apply rounded-l-full rounded-r-full;
  }

  .big-text-light,
  .big-input {
    @apply text-5xl font-light;
  }
}

.filter-button {
  @apply relative flex h-9 items-center  px-8 text-sm font-bold uppercase text-white;

  &::before {
    content: "";
    @apply absolute left-0 top-0 -z-10 h-full w-full -skew-x-0 border border-neutral-700;
  }

  &.sales {
    @apply text-yellow-500;
  }

  &.engineering {
    @apply text-lime-500;
  }

  &.marketing {
    @apply text-pink-500;
  }

  &.active {
    @apply text-black;

    &::before {
      @apply border-transparent bg-white;
    }

    &.sales::before {
      @apply bg-yellow-500;
    }

    &.engineering::before {
      @apply bg-lime-500;
    }

    &.marketing::before {
      @apply bg-pink-500;
    }
  }
}
