@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  @apply mb-6 text-[8rem] font-black leading-none tracking-tight;
}

input {
  @apply bg-neutral-800 leading-none placeholder-neutral-500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .pill {
    @apply rounded-l-full rounded-r-full;
  }
}

.filter-button {
  @apply h-10 items-center border border-white/20 px-6 py-2 text-white;

  &.sales {
    @apply border-yellow-200/50 text-yellow-500;
  }

  &.engineering {
    @apply border-teal-200/50 text-teal-500;
  }

  &.marketing {
    @apply border-pink-200/50 text-pink-500;
  }

  &.active {
    @apply border-transparent bg-white text-black;

    &.sales {
      @apply bg-yellow-500;
    }

    &.engineering {
      @apply bg-teal-500 text-black;
    }

    &.marketing {
      @apply bg-pink-500 text-black;
    }
  }
}
