@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  @apply text-[8rem] leading-none mb-10 font-black tracking-tight;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .pill {
    @apply rounded-l-full rounded-r-full;
  }
}

.filter-button {
  @apply border text-white border-white/20;

  &.sales {
    @apply text-yellow-200 border-yellow-200/20;
  }

  &.engineering {
    @apply text-blue-200 border-blue-200/20;
  }

  &.marketing {
    @apply text-red-200 border-red-200/20;
  }

  &.active {
    @apply text-black border-transparent bg-white;

    &.sales {
      @apply bg-yellow-200;
    }

    &.engineering {
      @apply bg-blue-200 text-black;
    }

    &.marketing {
      @apply bg-red-200 text-black;
    }
  }
}
